html, body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #F2F2F2;
}

#defaultCanvas0 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

canvas {
    border: 1px solid #888;
}
